<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Orion.Properties.Settings.oriondbConnectionString"
            connectionString="User Id=oriondb;Password=%cBGkdk9^dG0*j98;Host=db4free.net;Database=oriondb;Persist Security Info=True"
            providerName="Devart.Data.MySql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>