<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Orion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Orion.Properties.Settings.oriondbConnectionString"
            connectionString="User Id=oriondb;Password=%cBGkdk9^dG0*j98;Host=db4free.net;Database=oriondb;Persist Security Info=True"
            providerName="Devart.Data.MySql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Orion.Properties.Settings>
            <setting name="LoginUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginRemember" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoginEmployeeID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrencyFormat" serializeAs="String">
                <value>###,##0.00;(###,##0.00)</value>
            </setting>
        </Orion.Properties.Settings>
    </userSettings>
</configuration>